<% @body_id = "article" %>
<% @page_number = 3 %>
<% @description = "ES6でのアロー関数の省略的な書き方について少し解説" %>


  <p>Ruby入門を最近やっているのですが、そのサンプルで16進数カラーコードの変換プログラムがあり、それがとても短く書けていて「おお〜」となりました。</p>
  <div class="language-tag"><p>▼Ruby</p></div>
  <pre class="prettyprint linenums">
#リファクタリング前
def to_ints(hex)
  r = hex[1..2]
  g = hex[3..4]
  b = hex[5..6]
  ints = []
  [r, g, b].each do |s|
    ints << s.hex
  end
  ints
end

#リファクタリング後
def to_ints(hex)
hex.scan(/\w\w/).map(&:hex)
end
  </pre>
  <p>そして、私が熱心に勉強しているJavaScriptでもこれくらい短く書けるだろうと挑戦してみたのですが、想像よりかなり酷いコードになり、絶望・・・</p>
  <p>それをtwitterに上げましたら、JSの先輩方が非常に短く書き直してくれたのでそれを少し見直しました。</p>
  <p>こちらが問題(?)の私が書いた16進数変換コード</p>
  <div class="language-tag"><p>▼JavaScript</p></div>
  <pre class="prettyprint linenums">
let toInts = (hex) =&gt; {
  let hexArray = [];
  let toIntArray = [];
  hexArray.push(hex.slice(1, 3), hex.slice(3, 5), hex.slice(5, 7));
  hexArray.forEach(function(item) {
    toIntArray.push(parseInt(item, 16));
  });
  return toIntArray;
}
console.log(toInts('#abcdef'));
  </pre>
  <p>長いですね、長い。</p>
  <p>こちらが送ってもらったコード(正規表現の説明も書いてもらっています)</p>
  <div class="language-tag"><p>▼JavaScript</p></div>
  <pre class="prettyprint linenums">
/*
正規表現の解説
(?:\w{2})=A-Za-z0-9_を含む2文字にマッチする
(?=(?:\w{2})+$)=末尾から(?:\w{2})が1回以上続く場合にマッチする
*/
let colorCodeToInt = hex =&gt; hex.split(/(?=(?:\w{2})+$)/).map(hex =&gt; parseInt(hex, 16))
console.log(colorCodeToInt("abcdef"))
  </pre>
  <p>まさかの一行で終わってます(^^;;<br>
  Rubyのほうでも正規表現+scanにより大幅に短くなっていましたが、jsでも正規表現+splitでslice+push作業がなくなりとても綺麗に。 <br>
  mapは処理した結果を新しい配列にして返すので空の配列を作る必要もなし。</p>
  <div class="text-sub-title">
    <h2 class="sub-title-border">&nbsp;そしてmapの中身が分からなかった</h2>
  </div>
  <p>それで今回のメインなんですが、このmapの中身が全然分かりませんでした。やりたい事は分かるのですが、アロー関数を詳しく理解しないまま使っていたため、最初見た時は「なんだこの書き方は！？？」となりました。
  なので、この関数の省略過程をメモ用に残しておこうと思い、簡単にまとめました。</p>
  <p>こんな感じの過程を経ています。 <br>
    プログラムの内容は配列の要素の長さを返すコード</p>
  <div class="language-tag"><p>▼JavaScript</p></div>
  <pre class="prettyprint linenums">
let materials = ["Hydrogen","Helium","Lithium", "Beryllium"];

materials.map(function(x) {
  return x.length; //引数xの無名関数を実行し、x.lengthを返す
}); //[8, 6, 7, 9]

materials.map((x) =&gt; {
  return x.length; //ES6のアロー関数により、無名関数のfunctionを省略できる
}); //[8, 6, 7, 9]

materials.map( x =&gt; {
  return x.length; //アロー関数は引数が1つの場合、(x)のカッコを省略できる
}) //[8, 6, 7, 9]

materials.map( x =&gt; x.length ) //{}を省略したことにより、returnを省略できる
  </pre>
  <p>めっちゃシンプル。早く慣れたい。</p>

  <div class="text-sub-title">
    <h2 class="sub-title-border">&nbsp;まとめ</h2>
  </div>
  <p>正規表現やES6の仕様について今まで曖昧のまま使っていた為、もっとまともに勉強しようと思いました。</p>
  <p>いつも思うのですが、自分が時間をかけてまとめた(と思った)コードを先輩方が一瞬で簡潔にまとめてくれる凄技には毎回感動。。。いつも家で1人盛り上がってます。プログラミングは面白いですね。</p>
