<% @body_id = "article" %>
<% @page_number = 15 %>
<% @description = "オブジェクト指向設計実践ガイド - Rubyでわかる進化しつづける柔軟なアプリケーションの育て方 を読みました。" %>

  <p>オブジェクト指向設計実践ガイド - Rubyでわかる進化しつづける柔軟なアプリケーションの育て方 を読みました。(長かった)</p>
  <a href="https://gihyo.jp/book/2016/978-4-7741-8361-9" class="articles-pic-hover" target="_blank" rel="noopener">
    <img src="../images/page15/page15-1.jpg" alt="">
  </a>
  <div class="text-sub-title">
    <h2 class="sub-title-border">&nbsp;これを読んだキッカケ</h2>
  </div>
  <p>
    最近熱心にオブジェクト指向を勉強しているのですが、自分の知っている言語であるJavaScriptでオブジェクト指向を学ぶのは少し難易度が高いと個人的に思いました。 <br>
    それで、知り合いの勧めもあって「すべてがオブジェクトで出来ている」と言われているRubyを勉強し始めたという流れです。 <br>
    Rubyは別の本で入門したのですが、それだけでもかなりオブジェクトに関する知識が身に付きました。それに加えて更にオブジェクト指向設計を意識して何かをアプリ作るという少し発展的な参考書を探していた時にこの本を知りました。 <br>
    この本はRubyというよりオブジェクト指向設計全般に使えそうな知識という感じなのでとても参考になりました。
  </p>
  <div class="text-sub-title">
    <h2 class="sub-title-border">&nbsp;感想</h2>
  </div>
  <p>アンチパターンをまず書き、それのどこが悪いのかを説明したあとに良いデザインパターンなどを使って徐々に修正していくスタイルで、これがかなり分かりやすくて良かったです。<br>サンプルコードを章をまたいで使ったりするため、体系的に学べました。</p>
  <p>ただ全体的に内容が濃く一章一章が重いため、かなり体力を使います^^;<br>
    説明は丁寧で分かりやすいのですが、オブジェクト指向初学者が学ぶにはけっこう高度な内容だな〜というのが率直な感想です。<br>
    Rubyとオブジェクト指向の基礎知識などはあらかじめ知ってる必要があると思います。</p>
  <p>自分はオブジェクト指向は基礎を勉強しても、「じゃあいつどうやって使うんだろう」みたいな疑問がつきまとって、それのせい？で苦手意識がありました。<br>
    そういう基礎はある程度わかったけどどうするの？みたいな疑問に例題とコードと解説で答えてくれるみたいな感じです。<br>
    ただそれですぐ実践できるようになる訳ではないですが...(本の中でも失敗と修正を何回も経験する必要があると書いてありました。)</p>
  <p>これと平行して勉強していたRailsでもこれで得た知識が役に立つ部分がありました。<br>Railsを使って行う設計や、それを使って書くコードがオブジェクトやクラスを用いている部分が多くあるため、「この書き方は多分こういう意味があるんだな」と思う部分が随所にあり、面白さが増しました。</p>
  <p>おそらくこういう本は、現時点では知識としてしか持てないけど、いざ本格的にアプリを考えたり作ったりする時に力を発揮するタイプの本だと思うので(たぶん)、上にも書きましたが自分のようなオブジェクト指向初心者が最初に読んでもすぐに使えるようにはならないかなと思います。<br>理解した気になっておいて、必要そうな場面に出くわしたら読み直して役立てるという感じで良いと思います。</p>

