<% @body_id = "article" %>
<% @page_number = 14 %>
<% @description = "この間、ORACLE MASTER Bronze SQL基礎Iの11gを無事合格しました！悲しいのはこれを合格しても" %>
<div class="text-content">

  <p>この間、ORACLE MASTER Bronze SQL基礎Iの11gを無事合格しました！<br>悲しいのはこれを合格しても「ワイはオラクルマスターBronzeや(ドヤ)」と言えないことです・・・<br>(Bronzeと名乗るにはSQL基礎と、DBAというもう一つの試験をパスしなければいけないらしい)</p>
  <p>11gより新しい12cというものもあるのですが、何故11gなのかというのは
    <strong>12cは11gより難しい</strong>
    から少しでも全体の合格率を上げる為に11gを受けると先生が言ってました()</p>
  <div class="text-sub-title">
    <h2 class="sub-title-border">&nbsp;感想</h2>
  </div>
  <p>普通に難しかったです(小並感)<br>専門学校で指定されて取ったのですが、3週間丸々詰めて(授業時間も全部)SQLの勉強に当て、ギリギリ合格できました。(60%の合格ラインで70%ぐらい)</p>
  <p>最近バックエンド方面の勉強をしている自分にはSQLの知識はかなり役に立つ内容なのですが、あまりしっかりと勉強出来ていなく、プログラム言語やフレームワークの勉強に時間を取られていました。そのため、学校で半ば無理矢理勉強させられたのは良いタイミングだったな〜と思っております。</p>
  <p>現在の知識レベルではフレームワークで操作して発行される簡単なSQLが自信を持って読める程度なのですが、今後もっと広く勉強していったら生のSQLを扱う機会もあると思うので、そういう面で考えるとこの資格は良い入り口だったと思います。</p>
  <div class="text-sub-title">
    <h2 class="sub-title-border">&nbsp;勉強内容</h2>
  </div>
  <p>参考書は以下の2冊使いました。</p>
  <p>1冊目は基本の知識から全体的な内容をざっくりまとめた「スタートアップ オラクルマスターBronze 11g SQL基礎I」です。<br>
    <br><img alt="" src="../images/page14/page14-2.jpg" style="max-width: 500px;max-height: 700px;"><br>
    <br>こちらは全体像を掴むには最適なのですが、<strong>これ単体では受からない</strong>と思います。<br>こっちをメインに勉強していた戦友が何人もやられました。</p>
  <p>2冊目はめっちゃ詳細にまとめてあって模擬試験もついてくる「ORACLE MASTER Bronze［12c SQL基礎］完全詳解＋精選問題集 (オラクルマスタースタディガイド)」です。<br>
    <br><img alt="" src="../images/page14/page14-1.jpg" style="max-width: 500px;max-height: 700px;"><br><br>こちらはやる気を削ぐレベルの厚さですが、かなり詳細に乗ってるうえ、その詳細な箇所がテストに出ます(絶望)</p>
  <p>ですが、いくら3週間根を詰めたとは言え、2冊目のほうを全部やるのはかなりきついので</p>
  <ul>
    <li>1冊目で大枠を掴む・基本構文を大体覚える</li>
    <li>1冊目の問題集を完璧に近くする(これでも受かるレベルにはならない)</li>
    <li>2冊目の模擬試験をやる(点数は全然取れないけどヨシ)</li>
    <li>模擬試験で間違えた所を全て記録し、間違えた箇所の詳細を2冊目で調べて暗記する</li>
    <li>暗記したらもう一度模擬試験をやり、100点に近づける</li>
  </ul>
  <p>という感じで勉強しました。<br>テストが11gだったというのもありますが、2冊目のほうは殆ど通しでは読んでませんがなんとか合格できました。<br>(12cは範囲が少し増えるうえ、問題数が明らかに2時間で解かせる気ないので別のベクトルで難しい気がする)</p>
  <p>テストは基本的にSQLの細かい仕様を多く出してくるので、1冊目だけだとある程度の知識はついても問題は全然解けませんでした。<br>なので、2冊目の知識は必須になります。</p>
  <p>問題数が多いかつ時間が足りない事を考えると、全体の問題の傾向的には問題を読まなくても(表を見なくても)、<strong>構文さえ覚えていれば「この構文はここに書けないから明らかにERROR、はい次！」</strong>
    みたいな感じで行ける問題も散らばっています。</p>
  <p>上の暗記的な問題に含めて、やはり難しいのは「こういう表を作るにはどのSQLを実行すればいいか」みたいな問題です。こういう問題は時間がかかってしまいます。<br>2時間で66問となると1問にかけられるのは2分未満と考えると、暗記系の問題は素早く解いて、しっかり見ないと解けない問題にうまく時間を回す、 という感じでやれば大丈夫かなと思います。</p>
  <div class="text-sub-title">
    <h2 class="sub-title-border">&nbsp;個人的なつまづきポイント</h2>
  </div>
  <p>最後に個人的に時間のかかった、つまづいたポイントをまとめて終わりたいと思います。<br>誰かの助けになれば嬉しいです。</p>
  <b>
    <ul>
      <li>型の変換(TO_CHARやTO_DATE)</li>
      <li>表制約、列制約の付ける場所や付けられない制約など</li>
      <li>日付型と暗黙の型変換(日付型に対する足し算や引き算など)</li>
      <li>日付型を扱える関数とその返ってくる結果</li>
      <li>文字や日付の書式設定</li>
      <li>表全体の操作</li>
    </ul>
  </b>
  <p>特に、日付の操作や型などは覚えるのがとても大変でした。</p>
  <p>文の動きに加えて細かい仕様もいっぱい出てくるので、その辺をしっかり覚えられたら合格できると思います！</p>
</div>
