<% @body_id = "article" %>
<% @page_number = 13 %>
<% @description = "" %>
<div class="text-content">
  <p>たまには技術以外の記事も書きたいなということで、『Webエンジニア志望が考える専門学校の良い点・気を付けるべき点』
    について書こうと思います。<br>将来エンジニアになりたい！プログラマになりたい！みたいな人の進路の参考になればいいなーと思っています。<br>自分の場合はけっこう勘違いしていた部分が多くて戸惑ったので、それについても色々書いていきたいと思います。</p>
  <div class="text-sub-title">
    <h2 class="sub-title-border">&nbsp;前提</h2>
  </div>
  <p>自分は今4年制の情報系専門学校に通っています。<br>当たり前ですが、専門学校には一つしか通っていないので主観的な内容になってしまいますが、他の知り合いから聞いた話なども少し加えているのでそこまで大きな違いはないかなと思います。</p>
  <div class="text-sub-title">
    <h2 class="sub-title-border">&nbsp;入学前のイメージ</h2>
  </div>
  <p>高校の頃の話なのですが、IT系に進路を決めた時にITのイメージというのは
    <strong>IT = 情報系 = プログラミング</strong>
    だと思っていました。<br>今思うとそこから間違っているのですが、ITというのはプログラミングがメインで主にそれ関連の仕事をするものだと信じて疑わなかったので
    <strong>専門学校という場所はプログラミングを勉強する場所</strong>
    だと思っていました。<br>なので、専門学校に入る前は「きっとみんなプログラミングを既にある程度できるレベルで学校に来るんだろうな...俺全くできないからやべえ...」とめちゃくちゃ焦って入学までJavaを一生懸命勉強して行った記憶があります。</p>
  <p>結論からいうと、<strong>専門学校はプログラミングをメインで勉強する場所ではありません。</strong><br>当然プログラミングもある程度勉強するのですが、私の学校では2年生までで入門書１冊レベルの事しかしていません。<br>プログラマになりたい、プログラミングをメインで勉強したいと思って専門学校にそれを期待している人はこの事を知らずに入ってしまうと、とてもガッカリするかと思います。(私がそうでした)</p>
  <%= @article_page_middle_ads %>
  <div class="text-sub-title">
    <h2 class="sub-title-border">&nbsp;気を付けるべき点</h2>
  </div>
  <p>ここからは、Webエンジニア・プログラマになりたいという目線で気を付けるべき点を挙げていきたいと思います。</p>
  <h3 id="-">プログラミングをメインでやらない</h3>
  <p>これは上に書いた事と同じなのですが、プログラミングだけを勉強したいのであれば専門学校よりオンラインスクールとかのほうが圧倒的に効率的に勉強できると思います。<br>専門学校はプログラミングをメインで勉強する場所ではなく、また、プログラミングに特別に重きを置いている訳でもありません。あくまで色々ある授業の一つとしてあります。<br>それ故、プログラミングを深く学びたい・何かを作りたいと思った場合は独学で習得する必要があります。<br>これに関しては、おそらく大学等もそこまでガッツリやらないのかな？とも思っています。想像ですが。</p>
  <h3 id="it-">IT好きがいない</h3>
  <p>これに関してはけっこう場所に寄る所があると思いますが、聞いた話や私の学校を見るとそういう傾向にあると思っています。(断言はできませんが)<br>私のクラスに関して言えば、「特に好きなことはないけど、今の時代はITが流行りだから情報系にしよう」という感じで来る人がけっこう多い印象です。</p>
  <p>少なくとも、『ITやプログラミングが好きで、それ関連の勉強がしたい・仕事に就きたい』というような意欲的な人は多くはないと思います。というか私のクラスには一人もいません。<br>これ関連のツイートをすると、各専門学校勢数人から賛同の声が聞こえてくるので、どこもそんな感じなのかぁと勝手に想像しています。(当然例外もあって、IT好きが集まっている専門学校もあるようです。)</p>
  <p>これはそういう意欲的でない人達が多くて良いとか悪いとかそういう話ではなく、周りの人達と自分の温度差的なものが最初はけっこう辛いという話です。<br>上で書いたように、プログラミングを学びたければ独学するしかないと書きましたが、うちのクラスに限って言えばプログラミングが好きという人はいなく、家で独学してる人もいません。<br>そうなると、IT関連の会話をする人や情報源がtwitterやSNSに限られ、非常に孤独な気分を味わう事ができます。</p>
  <p>Twitterではエンジニアになりたいならどんどん勉強すべしという感じで書かれてあっても、学校では誰一人個人勉強などやってないみたいな一種のダブルスタンダード的状況に挟まれてﾆｬｰﾝ(辛い時にあげる鳴き声)としか言えなくなる可能性もあります。</p>
  <p>これは結構深刻で、独学に対するモチベが下がったり、就職に対する不安にも繋がります。<br>自分としては、最近はもう慣れましたが、最初は夜寝れなくなるくらい悩みました。<br>もちろん、ITやプログラミングが好きな人が学校にいる可能性もあるとは思いますが、専門学校は高校までのように横の繋がりが大きく広がる事があまりないため、個人の行動力次第だと思います。</p>
  <p>結局は変に同士を期待せず、一人で勉強する事を前提にしたほうが気楽だと思います。</p>
  <h3 id="-">専門の中の専門的な授業はあまりない</h3>
  <p>この辺は学部に寄ると思うのですが、Webに絞った学部や授業はあまりないと思います。<br>当然、基礎知識やITに関わるので基本的な内容はやるのですが、それをガッツリやるという訳ではありません。<br><br>
    Webに限らず、AndroidやiOSのアプリ開発やセキュリティなど、そういう専門の中の専門みたいなことをやりたい場合は、その専門学校の学部や学科をみてその関連のことをやるかどうかを調べる必要があります。<br>もし無い場合は、その専門的な開発や勉強をガッツリやるということは無いと思います。(うちの学校の場合は流行りのAIや機械学習が最近基本授業に加わりました。)</p>
  <div class="text-sub-title">
    <h2 class="sub-title-border">&nbsp;良い点</h2>
  </div>
  <p>長々と書いてきましたが、当然良い点も多くあります。</p>
  <h3 id="-">幅広く体系的な授業</h3>
  <p>例えばWebを勉強したい！と思った時に独学だとWeb関連の知識に寄りがちですが、専門学校ではITの基礎知識(五大装置など)からネットワーク、セキュリティ、データベースなど、色々な分野を基礎からミッチリやるので、エンジニアやるなら必要になるであろう知識を体系的に得る事が出来ます。<br>さらに先生が元エンジニアだったりすると、面白い話が聞けたりします。</p>
  <h3 id="-">授業中にパソコンが使える</h3>
  <p>これも学校に寄りけりな気がしますが、私の学校では授業中に自由にパソコンが使えます。<br>そのため、隙間時間を使ってプログラミングや独学を進める事ができます。</p>
  <h3 id="-">国家資格に強い</h3>
  <p>専門学校なら当たり前という感じがしますが(^^;;<br>FE・AP・その他スペシャリストの資格もガッツリ勉強できると思います。</p>
  <h3 id="-">就職に強い</h3>
  <p>これが一番大事な気がしますが、たとえばWebエンジニアなどを目指していて、それ関連の企業に就職できなかった・気が変わって別のことがしたくなったとしても、ITの基礎は身に付くはずなので色々な就職先を探す事ができると思います。</p>
  <div class="text-sub-title">
    <h2 class="sub-title-border">&nbsp;最後に</h2>
  </div>
  <p>色々と思うところを書きましたが、現状に特段不満があるというわけでもなく、プログラミングを独学する時間も確保できているしまぁその辺はどこも一長一短かな〜と思います。</p>
  <p>良い点が少ない気がしますが、良い点は大体その専門学校のホームページにごまんと書いてあると思うのでそっちを読んでください(投げやり)</p>
  <p>そもそもの話として、自分が元々専門学校に期待しすぎていた面もあったかな〜と今では思っています。</p>
  <p>授業も恐らく現場で役立つような内容が多く、さらに現代ではまだまだ学歴も非常に有用なため、ITの専門学校を出たというだけである程度の保証が得られる場所もあるなど利点は色々あると思っています。</p>
  <p>全てをダメだと切り捨てるのではなく、そのへんを上手く割り切って進路のために個人で努力するのが一番幸せになれるのではないかなーと考えております。(真面目なまとめ)</p>
</div>
