<%= partial "article_info" %>
<% @body_id = "article" %>
<% @title = @article_contents[4][0] %>
<% @posted_date = "投稿日：#{@article_contents[4][1]}" %>
<% @page_number = "page#{@article_contents[4][2]}" %>

<div class="text-content">
  <div class="text-sub-title">
    <h2 class="sub-title-border">&nbsp;概要</h2></div>
  友達とPUBGをやっていると、友達が「毎回降りる場所決めるの面倒臭い...ランダムに決めてくれるやつあったらいいな」と言ってましたので、ランダムに降下地点を決めてくれるサイトを作ってみました。<br><br>
  こちら↓
  <div class="articles-pic"><a href="http://knowledge-blog.net/pubg-random"><img src="../images/pubg-random-pic.png" alt=""></a></div><br>
  現在出ている３マップあり、激戦区の除外やsanhokのみ過疎地にピンを指す機能もあります。 <br>
  良ければ使ってみてください。
</div>
