<% @body_id = "article" %>
<% @page_number = 1 %>
<% @description = "HTML/CSSを勉強したので、ポートフォリオサイトを作成して公開しました。" %>


  <div class="text-sub-title">
    <h2 class="sub-title-border">&nbsp;感想</h2>
  </div>
    <p>HTML/CSSを勉強したので、ポートフォリオサイトを作りました。(このサイトのことです)</p>
    <p>ついでに、サーバー構築にも興味があったので作ったサイトを公開する目的も兼ねて自宅サーバに挑戦してみました。
      <br>気軽に決めましたが、こっちのほうが圧倒的に大変でした汗
      <br> ポートフォリオサイト作成は本を読んだり調べながら、デザインを凝ったりしつつもサクサク作れたのですが、サーバー構築は一筋縄では行きませんでした。
      <br> なによりLinux(CentOS)やvi、コマンドラインすらも初めてだったので、この辺に慣れるのに時間がかかった印象です。
      <br> 他にもsshやセキュリティ関連の対策、Apacheの設定などはかなりの時間を割きました。
      <br> twitterでやるぞと宣言してから半年以上かかりましたが、完成したので良かったです( ；∀；)
    </p>
    <div class="text-sub-title">
      <h2 class="sub-title-border">&nbsp;改善点</h2>
    </div>
    <p>今は一つのファイルにHTMLベタ書きなので、headerなどの共通部分を修正しようとすると全ファイル書き換えなければいけなく、
      かなりの作業量なのでPHPでテンプレートエンジンかなにかを使って共通化したいなあと思ってます。
      <br>あとはサイト運営に関する諸々など、今後学んだことを随時追加していく予定です。
    <br>他には、リファクタリング・タグ付け・デザインの改善・微調整 etc...<br>
    </p>
    <div class="text-sub-title">
      <h2 class="sub-title-border">&nbsp;今後やること</h2>
    </div>
    <p>最近はずっとサーバー構築やサイトの修正をしてたので、上の修正の片手間にJSやPHPで何か作ったり、Reactなどのフレームワークも勉強していきたいです。<br>
      あと、今のところは感想ばっかの記事ですが今後は何か役に立つような記事や学んだことも書きたいな〜と思っております。
    </p>

