<% partial "article_info" %>
<% @body_id = "index" %>
<% @title = "専門学生の技術系・WEB開発ブログ" %>

<p class="page-title"></p>
<div class="container">
  <%# 19から最後尾まで取得 %>
  <% article_excerpt = @article_info_list.reverse[@division_num..-1] %>

  <% article_excerpt.each_with_index do |article, i| %>
    <a href="../articles/page<%= article[:page_num] %>.html" class="article-item box fly">
      <article class="article-inside">
        <img src="../images/page<%= article[:page_num] %>.jpg" alt="">
        <p>
          <span class="date">Posted on <%= article[:post_date] %></span><br>
          <%= article[:title] %>
        </p>
      </article>
    </a>
  <% end %>

  <%# dummy article %>
  <% 2.times do %>
    <article class="article-item hidden-item">
      <div class="article-inside">
        <a href="#"><img src="images/header.jpg" alt=""></a>
        <p><a href="#"></a><br>
          <span class="date"></span>
        </p>
      </div>
    </article>
  <% end %>

</div>
