<% @title = "サイト運営" %>
<div id="wrap">
  <div class="content">
    <p class="page-title"><%= @title %></p>
    <div class="container">

      <article class="flex-item">
        <a href="../articles/page7.html"><img src="../images/page7.jpg" alt="" border="0"></a>
        <p><a href="../articles/page7.html">【解説】静的サイトジェネレータでテンプレート共通化！Middleman使い方を簡単に解説</a><br>
          <span class="date">Posted on 2018/12/29</span>
        </p>
      </article>

      <article class="flex-item">
        <a href="../articles/page6.html"><img src="../images/page6.jpg" alt="" border="0"></a>
        <p><a href="../articles/page6.html">【CentOS7】リモートとローカルのディレクトリを転送する方法を解説</a><br>
          <span class="date">Posted on 2018/11/3</span>
        </p>
      </article>

      <article class="flex-item">
        <a href="../articles/page4.html"><img src="../images/page4.jpg" alt="" border="0"></a>
        <p><a href="../articles/page4.html">【CentOS7】yum updateができない・外部サイトに繋がらない問題</a><br>
          <span class="date">Posted on 2018/9/11</span>
        </p>
      </article>

      <article class="flex-item">
        <a href="../articles/page1.html"><img src="../images/page1.jpg" alt="" border="0"></a>
        <p><a href="../articles/page1.html">ポートフォリオを作って自宅サーバで公開しました</a><br>
          <span class="date">Posted on 2018/7/21</span>
        </p>
      </article>

      <article class="flex-item hidden-item">
        <a href="#"><img src="../images/header.jpg" alt=""></a>
        <p><a href="#"></a><br>
          <span class="date"></span>
        </p>
      </article>

      <article class="flex-item hidden-item">
        <a href="#"><img src="../images/header.jpg" alt=""></a>
        <p><a href="#"></a><br>
          <span class="date"></span>
        </p>
      </article>

    </div>
  </div>
</div>
