<% @title = "HTML/CSS" %>
<% @body_id = "index" %>
<p class="page-title"><%= @title %></p>
<div class="container">

  <%= partial "nav_list" %>

  <% 2.times do %>
    <article class="article-item hidden-item">
      <div class="article-inside">
        <a href="#"><img src="../images/header.jpg" alt=""></a>
        <p><a href="#"></a><br>
          <span class="date"></span>
        </p>
      </div>
    </article>
  <% end %>

</div>
