<% @title = "他記事" %>
<div id="wrap">
  <div class="content">
    <p class="page-title"><%= @title %></p>
    <div class="container">

      <article class="flex-item">
        <a href="../articles/page8.html"><img src="../images/page8.jpg" alt="" border="0"></a>
        <p><a href="../articles/page8.html">【Ruby】ファイルの読み書きと正規表現で書き換えて保存するサンプルコード</a><br>
          <span class="date">Posted on 2018/1/5</span>
        </p>
      </article>

      <article class="flex-item hidden-item">
        <a href="#"><img src="../images/header.jpg" alt=""></a>
        <p><a href="#"></a><br>
          <span class="date"></span>
        </p>
      </article>

      <article class="flex-item hidden-item">
        <a href="#"><img src="../images/header.jpg" alt=""></a>
        <p><a href="#"></a><br>
          <span class="date"></span>
        </p>
      </article>

      <%# <article class="flex-item hidden-item">
        <a href="#"><img src="../images/header.jpg" alt=""></a>
        <p><a href="#"></a><br>
          <span class="date"></span>
        </p>
      </article> %>

    </div>
  </div>
</div>
