<% partial "article_info" %>
<% num = @page_number - 1 %>
<div class="text-title"><h1><%= @article_contents[num][0] %></h1></div>
<div class="posted-date-area">
  <p>
    <% unless @article_contents[num][3].nil? %>
      <%= "更新日" + @article_contents[num][3] %>
    <% end %>
    &emsp;<%= "投稿日：" + @article_contents[num][1] %>
  </p>
</div>
