<header>

  <div class="nav-flex">
    <div class="logo">
      <a href="../index.html">
        <h1 class="top">Knowledge of Programming</h1>
        <p class="sub-title">専門学生の技術系・WEB開発ブログ</p>
      </a>
    </div>

    <nav>
      <ul class="global-nav">
        <li><a href="../index.html">Blog</a></li>
        <li><a href="../profile.html">Profile</a></li>
        <li><a href="../portfolio.html">Portfolio</a></li>
      </ul>
    </nav>
  </div>

  <div class="blog-nav">
    <ul class="main-nav">
      <li><a href="../category/nav_htmlcss.html">HTML/CSS</a></li>
      <li><a href="../category/nav_javascript.html">JavaScript</a></li>
      <li><a href="../category/nav_ope.html">サイト運営</a></li>
      <li><a href="../category/nav_other.html">他記事</a></li>
    </ul>
  </div>

</header>
