<aside class="right-bar">

  <div class="aside-box">
    <div class="aside-box-inside">
      <h1>プロフィール</h1>
      <p>Web開発・プログラミングが趣味な専門学生です！
        <br>日々勉強したことや、制作したものの解説などをメインにブログを更新しています。
        <br>このサイトも使いやすいように改良中。
      </p>
    </div>
  </div>

  <div class="aside-box aside-box-link">
    <a href="http://knowledge-blog.net/JSTyping/index.html" target="_blank">
      <div class="aside-box-inside">
        <img src="../images/side-bar/jstyping-img-side2.png" alt="">
        <p class="aside-box-jstyping-p">
          JavaScriptの構文を問題としたタイピングゲームを作ってみました。
          <br>力試しに挑戦してみてください！
        </p>
      </div>
    </a>
  </div>

  <div class="aside-box">
  </div>
</aside>
