<% @body_id = "index" %>

<div id="wrap">
  <div class="content">
    <p class="page-title">最新記事</p>
    <div class="container">

      <article class="flex-item">
        <a href="articles/page8.html"><img src="images/page8.jpg" alt="" border="0"></a>
        <p><a href="articles/page8.html">【Ruby】ファイルの読み書きと正規表現で書き換えて保存するサンプルコード</a><br>
          <span class="date">Posted on 2018/1/5</span>
        </p>
      </article>

      <article class="flex-item">
        <a href="articles/page7.html"><img src="images/page7.jpg" alt="" border="0"></a>
        <p><a href="articles/page7.html">【解説】静的サイトジェネレータでテンプレート共通化！Middleman使い方を簡単に解説</a><br>
          <span class="date">Posted on 2018/12/29</span>
        </p>
      </article>

      <article class="flex-item">
        <a href="articles/page6.html"><img src="images/page6.jpg" alt="" border="0"></a>
        <p><a href="articles/page6.html">【CentOS7】リモートとローカルのディレクトリを転送する方法を解説</a><br>
          <span class="date">Posted on 2018/11/3</span>
        </p>
      </article>

      <article class="flex-item">
        <a href="articles/page5.html"><img src="images/page5.jpg" alt="" border="0"></a>
        <p><a href="articles/page5.html">PUBGで使える降下地点ランダムサイトを作ってみた</a><br>
          <span class="date">Posted on 2018/11/1</span>
        </p>
      </article>

      <article class="flex-item">
        <a href="articles/page4.html"><img src="images/page4.jpg" alt="" border="0"></a>
        <p><a href="articles/page4.html">【CentOS7】yum updateができない・外部サイトに繋がらない問題</a><br>
          <span class="date">Posted on 2018/9/11</span>
        </p>
      </article>

      <article class="flex-item">
        <a href="articles/page3.html"><img src="images/page3.jpg" alt="" border="0"></a>
        <p><a href="articles/page3.html">アロー関数の省略的な書き方について</a><br>
          <span class="date">Posted on 2018/8/10</span>
        </p>
      </article>

      <article class="flex-item">
        <a href="articles/page2.html">
          <img src="images/jstyping.jpg" alt="">
        </a>
        <p><a href="articles/page2.html">JavaScriptでタイピングゲームを作ってみた(感想)</a><br>
          <span class="date">Posted on 2018/7/21</span>
        </p>
      </article>

      <article class="flex-item">
        <a href="articles/page1.html"><img src="images/page1.jpg" alt="" border="0"></a>
        <p><a href="articles/page1.html">ポートフォリオサイトを作って自宅サーバで公開しました</a><br>
          <span class="date">Posted on 2018/7/21</span>
        </p>
      </article>

      <article class="flex-item hidden-item">
        <a href="#"><img src="images/header.jpg" alt=""></a>
        <p><a href="#"></a><br>
          <span class="date"></span>
        </p>
      </article>

      <%# <article class="flex-item hidden-item">
        <a href="#"><img src="images/header.jpg" alt=""></a>
        <p><a href="#"></a><br>
          <span class="date"></span>
        </p>
      </article> %>

    </div>
  </div>
</div>
