<% @body_id = "portfolio" %>
<% @title = "My Portfolio" %>
<div id="wrap">
  <div class="content">
    <h1 class="portfolio-title"><%= @title %></h1>
    <div class="made-items-content">

      <a href="http://knowledge-blog.net/JSTyping" target="_blank" class="made-item fly">
        <img src="../images/jstyping_image.png" alt="" class="portfolio-image-deco">
        <div class="made-item-description">
          <h1>JSTyping</h1>
          <p>・JavaScriptの構文や、使われるコード、メソッドなどが問題として出てくるタイピングゲーム
            <br>・制限時間60秒 <br>・大文字入力あり</p>
        </div>
      </a>

      <a href="http://knowledge-blog.net/pubg-random" target="_blank" class="made-item fly">
        <img src="../images/page5.jpg" alt="" class="portfolio-image-deco">
        <div class="made-item-description">
          <h1>PUBG降下地点ランダム機</h1>
          <p>・PUBGで使える降下地点をランダムに決めてくれるサイト
          <br>・名前のある街にランダムでピンを差します。
      </div>
      </a>

      <a href="http://knowledge-blog.net/LifeGame" target="_blank" class="made-item fly">
        <img src="../images/page11.jpg" alt="" class="portfolio-image-deco">
        <div class="made-item-description">
          <h1>Life Game</h1>
          <p>・JavaScriptで実装したライフゲーム</p>
        </div>
      </a>

    </div>
  </div>
</div>
